.git
.github
.vs
.idea
.vscode

**/bin
**/obj
**/node_modules
**/dist
**/.angular
**/.cache
**/coverage

*.db
*.sqlite
*.sqlite3
*.bak
*.dump

.env
.env.local
*.env
docker-compose.override.yml

frontend/.env
frontend/.env.local
backend/appsettings.Development.json
backend/appsettings.Local.json
backend/appsettings.Production.json
